<section class = "InvoicesPage">
  <h2 class = "Invoices-Title"> Invoices: </p>
  <section class = "DateSection">
    <%= form_with(url: "/invoices", method: "get", remote: true, class: "ListInvoices") do |form|%>
      <p class = "StartDate-Tag"> Start Date: </p>
      <%= date_field_tag "search[:start_date]", @invoices.start_date, class: "StartDate-Date" %>

      <p class = "EndDate-Tag"> End Date: </p>
      <%= date_field_tag "search[:end_date]", @invoices.end_date, class: "EndDate-Date" %>

      <%= submit_tag "List", class: "ListInvoices-Button"%>
    <% end %>
  </section>

  <section class = "InvoicesSection">
    <p class = "InvoiceList-Tag"> List of Invoices: </p>
    <%if @list == nil || @list == [] %>
      <section class = "Orderpage-Content">
        <p class = "Orderpage-ContentText"> No Invoices in the given range </p>
      </section>
    <% else %>
      <table class = "Orders">

        <tr class = "Order">
          <th class = "Order-Head"> Order Id </th>
          <th class = "Order-Head"> User </th>
          <th class = "Order-Head"> Order Date & Time </th>
        </tr>

        <% @list.each do |order|%>
          <tr class = "Order">
            <td class = "Order-Id"> <%= order.id %> </td>
            <td class = "User"> <%= User.find(order.user_id).name %> </td>
            <td class = "Order-Timestamp"> <%= order.date.strftime("%B %e, %Y at %I:%M %p") %> </td>
            <td class = "Order-View"> <%= link_to "view", order_path(order.id), class: "OrderView-link" %> </td>
          </tr>
        <% end %>

      </table>
    <% end %>
  </section>
</section>
