<section class = "AlterClerkPage ">
  <section class = "Alter-Clerk-Head">

    <h2 class = "AlterClerkPageTitle"> Clerk name:  </h2>
    <h3 class = "AlterClerkPage-Name"> <%= @user.name %> </h3>

  </section>
  <section class = "Alter-Clerk-Section">
      <h3 class = "Alter-Clerk-Title">Update Billing Clerk: </h3>

      <%= form_with(url: "/users/#{@user.id}", method: "put", class: "Alter-Clerk") do |form|%>
        <p class = "Alter-Clerk-Tag">Change Name: </p>
        <section class = "Alter-Clerk-Details">
          <%= form.text_field :name, class: "AlterName-field", placeholder: "Name of the Clerk" %>
          <%= submit_tag "Change", class: "Alter-Clerk-Button"%>
        </section>

        <p class = "Alter-Clerk-Tag">Change Password: </p>
        <section class = "Alter-Clerk-Details">
          <%= form.password_field :password, class: "AlterPassword-field", placeholder: "Password"%>
          <%= submit_tag "Change", class: "Alter-Clerk-Button"%>
        </section>
      <% end %>
  </section>

  <section class = "Remove-Clerk-Section">
    <h2 class = "Remove-Clerk-Title"> Remove Billing Clerk: </h2>
    <%= button_to("Remove Clerk", "/users/#{@user.id}", method: "delete", class: "RemoveClerk-Button")%>
  </section>

</section>
