<!DOCTYPE html>
<html>
  <head>
    <title>The Cafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <section class = "CurrentUserBar">
        <p class = "Username">Hello <%= @current_user.name %>! </p>

        <section class = "Buttons">
          <%= button_to("Home", "/", class: "Home-Button", method: "get") %>

          <% if @current_user.role == "owner" || @current_user.role == "billing clerk"%>
            <section class = "NonUserSection">
              <%= button_to("Pending Orders", "/order", method: "get", class: "PendingOrder-Button") %>
            </section>
          <% end %>

          <% if @current_user.role == "customer"%>
            <section class = "UserSection">
              <%= button_to("My Orders", "/order", method: "get", class: "MyOrders-Button") %>
            </section>
          <% end %>

          <%= button_to("Sign-out", destroy_session_path, class: "Signout-Button", method: "delete") %>
        </section>
      </section>
    <% end %>

    <h1 class = "CafePageTitle"> The Cafe..!! </h1>

    <%= yield %>

  </body>
</html>
